<div class="container">
  <div class="col-md-6 mx-auto py-5 col-sm-12 bg-light">
    <h2 class="text-center mb-3 text-dark">Account Profile</h2>
    <form [formGroup]="settingForm" (ngSubmit)="saveSetting()">
      <div class="formSetting">
        <div class="form-group">
          <label> URL of profile picture</label>
          <input class="form-control" type="text" formControlName="image" />
        </div>
        <div class="form-group">
          <label>Your Name</label>
          <input
            class="form-control form-control-lg"
            type="text"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label>Short bio about you</label>
          <textarea
            class="form-control form-control-lg"
            rows="3"
            formControlName="bio"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Your Account Email</label>
          <input
            class="form-control form-control-lg"
            type="text"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label>Enter New Password</label>
          <input
            class="form-control form-control-lg"
            type="password"
            formControlName="password"
          />
        </div>
        <div class="d-flex justify-content-end">
          <div>
            <button class="btn cancelBtn" (click)="cancel()">Cancel</button>
          </div>
          <div>
            <button class="btn btn-success editBtn" type="submit">
              Save Profile
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
