<div class="bg-light">
  <div class="header">
    <div class="container-fluid">
      <div
        class="row justify-content-center mx-auto text-light flex-wrap text-center py-5"
      >
        <h1 class="col-sm-12">ABOUT US</h1>
        <br />
        <h2 class="col-sm-12">TEAM 2 - PAD</h2>
      </div>
    </div>
  </div>

  <!-- BODY CỦA LANDING PAGE -->

  <div class="content">
    <div class="feedback">
      <div class="container-fluid feedback_box">
        <div class="row w-75 flex-wrap text-center mx-auto">
          <!-- HANG 1 -->
          <div
            class="d-flex justify-content-center align-items-center flex-wrap py-5"
          >
            <div class="col-md-6 col-sm-12 px-4 feedback0">
              <h3 style="font-weight: 700">For those about to rock...</h3>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>

            <div class="col-md-6 col-sm-12 feedback1">
              <img
                class="rounded-circle"
                style="width: 250px; height: 250px"
                src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.6435-9/133254995_850808835704011_3880090424681268281_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=vJhopckEB-IAX9EN4ZC&_nc_ht=scontent.fhan3-1.fna&oh=25fd6ff9d98aa08cfc9b92f0e113a030&oe=609E5BD8"
                alt="image"
              />
            </div>
          </div>

          <!-- HANG 2 -->
          <div
            class="d-flex justify-content-center align-items-center flex-wrap py-5"
          >
            <div class="col-md-6 col-sm-12 feedback1">
              <img
                class="rounded-circle"
                style="width: 250px; height: 250px"
                src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.6435-1/p200x200/101944967_3382940368385691_8974771792094691328_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=7206a8&_nc_ohc=tioGPg0-6M8AX9Ey3Fb&_nc_ht=scontent.fhan4-1.fna&tp=6&oh=977ce6a2f080c98243cbc8b7a309f0af&oe=609AE01F"
                alt="image"
              />
            </div>

            <div class="col-md-6 col-sm-12 px-3 feedback0">
              <h3 style="font-weight: 700">We Salute You</h3>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>

          <!-- HANG 3 -->
          <div
            class="d-flex justify-content-center align-items-center flex-wrap py-5"
          >
            <div class="col-md-6 col-sm-12 px-4 feedback0">
              <h3 style="font-weight: 700">For those about to rock...</h3>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>

            <div class="col-md-6 col-sm-12 feedback1">
              <img
                class="rounded-circle"
                style="width: 250px; height: 250px"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.6435-9/164402489_2825528944366372_4734492575635380477_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=e9ygHBGRkTEAX_At1i8&_nc_ht=scontent.fhan3-2.fna&oh=b042acc75603a91fff7518eac325bcef&oe=609C9AD6"
                alt="image"
              />
            </div>
          </div>
          <!-- -------------------- -->
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->

  <div class="footer">
    <div class="cointainer-fluid bg-dark">
      <div class="row justify-content-center">
        <div class="col-sm-6 text-light text-center pt-3">
          Copy Right Your Websites 2020
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
