.img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 3px solid cyan;
}
a {
  cursor: pointer;
}

.profile-container {
  padding: 60px 20px 20px 20px;
  margin: 0;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  .userinfo {
    div {
      color: white;
      margin-bottom: 20px;
      button {
        color: white;
      }
    }
  }
}

.showActiveTab {
  li {
    .active {
      border-bottom: 1px solid black;
    }
  }
}
