<div
  class="w-100 card mb-4 py-2"
  *ngFor="let favoritedArticle of favoritedArticles"
>
  <div class="d-flex align-items-center px-0">
    <img
      src="https://static.productionready.io/images/smiley-cyrus.jpg"
      class="card-img-top rounded-circle m-1 img"
      alt="..."
      style="width: 28px; height: 28px"
    />
    <div class="d-flex flex-wrap ml-1">
      <span class="pl-0 col-12" (click)="goToMyArticle(myArticle)">
        <a class="text-dark font-weight-bold"
          >{{ favoritedArticle.author.username }}
        </a>
      </span>
      <small class="text-secondary"
        >{{ favoritedArticle.createdAt | date }}
      </small>
    </div>

    <div class="mt-1 mr-2 ml-auto">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-three-dots"
        (click)="showOption()"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
        />
      </svg>
    </div>
  </div>

  <div class="card-body pl-3">
    <hr class="mt-0" />
    <!-- -----CARD BORDY------ -->
    <div class="card-body border-bottom">
      <h5 (click)="goToMyArticle(myArticle)">
        <a> {{ favoritedArticle.title }} </a>
      </h5>
      <p (click)="goToMyArticle(myArticle)">
        <a>{{ favoritedArticle.body }}</a>
      </p>
      <small
        (click)="goToMyArticle(myArticle)"
        class="text-secondary btn btn-link p-0"
      >
        Read more
      </small>
    </div>
    <!-- -----CARD BORDY------ -->
    <app-like-button
      [article]="favoritedArticle"
      [articles]="favoritedArticles"
    ></app-like-button>
    <!-- ------ICON BOX-------- -->
    <div class="col-4">
      <span> {{ favoritedArticle.favoritesCount }} likes </span>
    </div>
  </div>
</div>
