<div>
  <div class="row w-100 mb-3 mx-0">
    <div
      class="col-12 text-center text-light bg-insta d-flex flex-column py-5 p-3"
    >
      <h1 class="display-4"><strong>Instagram</strong></h1>
      <p class="mb-2">A place to share your emotions and feelings.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <ul class="nav nav-tabs mb-5">
          <li class="nav-item" *ngFor="let tab of headingTab">
            <a
              class="nav-link text-dark"
              (click)="selectTab(tab)"
              [class.active-tab]="selectedTab == tab"
              >{{ tab }}</a
            >
          </li>
        </ul>
        <div
          class="card mb-4 w-100 p-2"
          style="width: 18rem"
          *ngFor="let article of articles; let i; index"
        >
          <div class="d-flex align-items-center px-0">
            <img
              src="https://static.productionready.io/images/smiley-cyrus.jpg"
              class="card-img-top rounded-circle m-1 img"
              alt="..."
              style="width: 28px; height: 28px"
            />
            <div class="d-flex flex-wrap ml-1">
              <span class="pl-0 col-12" (click)="goToArticle(article)">
                <a class="text-dark font-weight-bold"
                  >{{ article.author.username }}
                </a>
              </span>
              <small class="text-secondary"
                >{{ article.createdAt | date }}
              </small>
            </div>

            <div class="mt-1 mr-2 ml-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots"
                (click)="showOption()"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                />
              </svg>
            </div>
          </div>
          <hr />
          <!-- -----CARD BORDY------ -->
          <div class="card-body border-bottom">
            <h5 (click)="goToArticle(article)">
              <a> {{ article.title }} </a>
            </h5>
            <p (click)="goToArticle(article)">
              <a>{{ article.body }}</a>
            </p>
            <small
              (click)="goToArticle(article)"
              class="text-secondary btn btn-link p-0"
            >
              Read more
            </small>
          </div>
          <!-- -----CARD BORDY------ -->
          <app-like-button
            [article]="article"
            [articles]="articles"
          ></app-like-button>
          <!-- ------ICON BOX-------- -->
          <div class="col-4">
            <span> {{ article.favoritesCount }} likes </span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <app-pagination
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            (onPageChange)="handlePageChange($event)"
          ></app-pagination>
        </div>
      </div>
      <!-- ------SIDE BOX------- -->
      <div class="col-4 mt-5">
        <!-- ------APP CHIP---------->
        <app-chips
          [chipList]="chipList"
          (showTagArticle)="showTagArticle($event)"
        ></app-chips>
        <!-- ------RECOMMENDED USER---------->
        <app-recommender [recommendedUser]="recommendedUser"></app-recommender>
        <!-- ------------------------- -->
      </div>
    </div>
  </div>
</div>
